{
    "presets": [
        [
            "@babel/preset-env",
            {
                "debug": false,
                "modules": false,
                "useBuiltIns": false
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ]
    ],
    "env": {
        "production": {
            "presets": [
                "react-optimize"
            ]
        }
    }
}