<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2024, WSO2 LLC. (http://www.wso2.org)

WSO2 LLC. licenses this file to you under the Apache License,
Version 2.0 (the "License"); you may not use this file except
in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="flow-model-test-suite">
    <test name="flow-model-test" parallel="false">
        <classes>
            <class name="io.ballerina.flowmodelgenerator.extension.ModelGeneratorTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.SourceGeneratorTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.AvailableNodesTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.NodeTemplateTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.SuggestedComponentTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.DeleteNodeTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.DeleteComponentTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.SuggestedModelGeneratorTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.CopilotContextTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.ExpressionEditorCompletionTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.ExpressionEditorSignatureTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.ExpressionEditorTypesTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.ExpressionEditorDiagnosticsTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.ServiceGeneratorTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.VisibleVariableTypesTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.ConfigVariablesTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.ModuleNodesTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.ConfigVariablesUpdateTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.ErrorHandlerGeneratorTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.GetEnclosedFunctionDefTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.FunctionCallTemplateTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.ImportModuleTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.DataMappingTypesTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.DataMappingModelTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.DataMappingSourceTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.DataMappingQueryConvertTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.DataMappingVisualizeTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.DataMappingAddElementTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.OpenApiClientGeneratorTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.JsonConverterTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.FunctionDefinitionTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.XMLConverterTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.ICPEnablerTests"/>
            <class name="io.ballerina.flowmodelgenerator.extension.AddICPTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.SearchTest"/>
            <!--types manager-->
            <class name="io.ballerina.flowmodelgenerator.extension.typesmanager.GetAllTypesTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.typesmanager.GetTypeTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.typesmanager.CreateAndUpdateTypeTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.typesmanager.GetGraphqlTypeTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.typesmanager.CreateGraphqlClassTypeTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.typesmanager.RecordConfigTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.InitializerTest"/>

            <class name="io.ballerina.flowmodelgenerator.extension.agentsmanager.NodeTemplateTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.agentsmanager.SourceGeneratorTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.agentsmanager.GenToolsTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.agentsmanager.GetAllAgentsTest"/>
            <class name="io.ballerina.flowmodelgenerator.extension.agentsmanager.GetAllModelsTest"/>
        </classes>
    </test>
</suite>
