name: Build master
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '10.22.1'

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17.0.7

      - name: Change to Timestamped Version
        run: |
          startTime=$(TZ="Asia/Kolkata" date +'%Y%m%d-%H%M00')
          latestCommit=$(git log -n 1 --pretty=format:"%h")
          VERSION=$((grep -w 'version' | cut -d= -f2) < gradle.properties | rev | cut --complement -d- -f1 | rev)
          updatedVersion=$VERSION-$startTime-$latestCommit
          echo $updatedVersion
          echo TIMESTAMPED_VERSION=$updatedVersion >> $GITHUB_ENV
          sed -i "s/version=\(.*\)/version=$updatedVersion/g" gradle.properties

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build and Publish with timestamped version
        env:
          packageUser: ${{ secrets.BALLERINA_BOT_USERNAME }}
          packagePAT: ${{ secrets.BALLERINA_BOT_TOKEN }}
        if: github.event_name == 'workflow_dispatch'
        run: |
          ./gradlew -Pversion=${TIMESTAMPED_VERSION} clean publish -x :docerina-ui:npmTestDocerinaUI --scan

      - name: Build and Publish
        env:
          packageUser: ${{ secrets.BALLERINA_BOT_USERNAME }}
          packagePAT: ${{ secrets.BALLERINA_BOT_TOKEN }}
        if: github.event_name == 'push'
        run: |
          ./gradlew clean publish -x :docerina-ui:npmTestDocerinaUI --scan

      - name: Generate Codecov Report
        uses: codecov/codecov-action@v1
        with:
          directory: ./docerina-ui/coverage/

